:root {
  /*!----Light Mode Utility Brand Colors----*/
  --utility-brand-50: var(--brand-50);
  --utility-brand-50_alt: var(--brand-50);
  --utility-brand-100: var(--brand-100);
  --utility-brand-100_alt: var(--brand-100);
  --utility-brand-200: var(--brand-200);
  --utility-brand-200_alt: var(--brand-200);
  --utility-brand-300: var(--brand-300);
  --utility-brand-300_alt: var(--brand-300);
  --utility-brand-400: var(--brand-400);
  --utility-brand-400_alt: var(--brand-400);
  --utility-brand-500: var(--brand-500);
  --utility-brand-500_alt: var(--brand-500);
  --utility-brand-600: var(--brand-600);
  --utility-brand-600_alt: var(--brand-600);
  --utility-brand-700: var(--brand-700);
  --utility-brand-700_alt: var(--brand-700);
  --utility-brand-800: var(--brand-800);
  --utility-brand-800_alt: var(--brand-800);
  --utility-brand-900: var(--brand-900);
  --utility-brand-900_alt: var(--brand-900);
}

.dark {
  /*!----Dark Mode Utility Brand Colors----*/
  --utility-brand-50: var(--brand-950);
  --utility-brand-50_alt: var(--gray-900);
  --utility-brand-100: var(--brand-900);
  --utility-brand-100_alt: var(--gray-800);
  --utility-brand-200: var(--brand-800);
  --utility-brand-200_alt: var(--gray-700);
  --utility-brand-300: var(--brand-700);
  --utility-brand-300_alt: var(--gray-700);
  --utility-brand-400: var(--brand-600);
  --utility-brand-400_alt: var(--gray-600);
  --utility-brand-500: var(--brand-500);
  --utility-brand-500_alt: var(--gray-500);
  --utility-brand-600: var(--brand-400);
  --utility-brand-600_alt: var(--gray-400);
  --utility-brand-700: var(--brand-300);
  --utility-brand-700_alt: var(--gray-300);
  --utility-brand-800: var(--brand-200);
  --utility-brand-800_alt: var(--gray-200);
  --utility-brand-900: var(--brand-100);
  --utility-brand-900_alt: var(--gray-100);
}
