:root {
  /*!----Light Mode Utility Orange Colors----*/
  --utility-orange-50: var(--orange-50);
  --utility-orange-100: var(--orange-100);
  --utility-orange-200: var(--orange-200);
  --utility-orange-300: var(--orange-300);
  --utility-orange-400: var(--orange-400);
  --utility-orange-500: var(--orange-500);
  --utility-orange-600: var(--orange-600);
  --utility-orange-700: var(--orange-700);

  /*!----Light Mode Utility Orange Dark Colors----*/
  --utility-orange-dark-50: var(--orange-dark-50);
  --utility-orange-dark-100: var(--orange-dark-100);
  --utility-orange-dark-200: var(--orange-dark-200);
  --utility-orange-dark-300: var(--orange-dark-300);
  --utility-orange-dark-400: var(--orange-dark-400);
  --utility-orange-dark-500: var(--orange-dark-500);
  --utility-orange-dark-600: var(--orange-dark-600);
  --utility-orange-dark-700: var(--orange-dark-700);
}

.dark {
  /*!----Dark Mode Utility Orange Colors----*/
  --utility-orange-50: var(--orange-950);
  --utility-orange-100: var(--orange-900);
  --utility-orange-200: var(--orange-800);
  --utility-orange-300: var(--orange-700);
  --utility-orange-400: var(--orange-600);
  --utility-orange-500: var(--orange-500);
  --utility-orange-600: var(--orange-400);
  --utility-orange-700: var(--orange-300);

  /*!----Dark Mode Utility Orange Dark Colors----*/
  --utility-orange-dark-50: var(--orange-dark-950);
  --utility-orange-dark-100: var(--orange-dark-900);
  --utility-orange-dark-200: var(--orange-dark-800);
  --utility-orange-dark-300: var(--orange-dark-700);
  --utility-orange-dark-400: var(--orange-dark-600);
  --utility-orange-dark-500: var(--orange-dark-500);
  --utility-orange-dark-600: var(--orange-dark-400);
  --utility-orange-dark-700: var(--orange-dark-300);
}
