:root {
  /*!----Light Mode Border Color----*/

  --border-primary: var(--gray-300);
  --border-secondary: var(--gray-200);
  --border-tertiary: var(--gray-100);
  --border-other-gray: var(--other-gray-300);

  --border-disabled: var(--gray-300);
  --border-disabled-subtle: var(--gray-200);

  --border-brand: var(--brand-300);
  --border-brand-solid: var(--brand-600);
  --border-brand-solid-alt: var(--brand-600);

  --border-error: var(--error-300);
  --border-error-solid: var(--error-600);
}

.dark {
  /*!----Dark Mode Border Color----*/

  --border-primary: var(--gray-dark-700);
  --border-secondary: var(--gray-dark-800);
  --border-tertiary: var(--gray-dark-800);

  --border-disabled: var(--gray-dark-700);
  --border-disabled-subtle: var(--gray-dark-800);

  --border-brand: var(--brand-400);
  --border-brand-solid: var(--brand-500);
  --border-brand-solid-alt: var(--gray-dark-700);

  --border-error: var(--error-400);
  --border-error-solid: var(--error-500);
}
