.expand-animation {
  animation: smoothWidthExpand 0.2s ease-in-out forwards;
}
.close-expand {
  animation: smoothWidthCloseExpand 0.2s ease-in-out forwards;
}
.slide-down-accordion {
  animation: slideDownAccordions 1s ease-in-out forwards;
}

@keyframes smoothWidthExpand {
  0% {
    width: 0;
  }

  100% {
    width: 256px;
  }
}

@keyframes smoothWidthCloseExpand {
  0% {
    width: 256px;
  }

  100% {
    width: 0px;
    display: none;
  }
}

@keyframes slideDownAccordions {
  0% {
    height: 0px;
  }

  100% {
    height: 100%;
  }
}
