::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--gray-800);
}

.dark ::-webkit-scrollbar-thumb {
  background: var(--gray-700);
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: var(--error-300);
}

::-webkit-scrollbar-thumb {
  background: var(--gray-300);
  border-radius: 10px;
}

.mds-table-content {
  overflow: overlay !important;
  -ms-overflow-style: none !important;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
