:root {
  /*!----Light Mode Utility Blue Colors----*/
  --utility-blue-50: var(--blue-50);
  --utility-blue-100: var(--blue-100);
  --utility-blue-200: var(--blue-200);
  --utility-blue-300: var(--blue-300);
  --utility-blue-400: var(--blue-400);
  --utility-blue-500: var(--blue-500);
  --utility-blue-600: var(--blue-600);
  --utility-blue-700: var(--blue-700);

  /*!----Light Mode Utility Blue Light Colors----*/
  --utility-blue-light-50: var(--blue-light-50);
  --utility-blue-light-100: var(--blue-light-100);
  --utility-blue-light-200: var(--blue-light-200);
  --utility-blue-light-300: var(--blue-light-300);
  --utility-blue-light-400: var(--blue-light-400);
  --utility-blue-light-500: var(--blue-light-500);
  --utility-blue-light-600: var(--blue-light-600);
  --utility-blue-light-700: var(--blue-light-700);

  /*!----Light Mode Utility Blue Dark Colors----*/
  --utility-blue-dark-50: var(--blue-dark-50);
  --utility-blue-dark-100: var(--blue-dark-100);
  --utility-blue-dark-200: var(--blue-dark-200);
  --utility-blue-dark-300: var(--blue-dark-300);
  --utility-blue-dark-400: var(--blue-dark-400);
  --utility-blue-dark-500: var(--blue-dark-500);
  --utility-blue-dark-600: var(--blue-dark-600);
  --utility-blue-dark-700: var(--blue-dark-700);
}

.dark {
  /*!----Dark Mode Utility Blue Colors----*/
  --utility-blue-50: var(--blue-950);
  --utility-blue-100: var(--blue-900);
  --utility-blue-200: var(--blue-800);
  --utility-blue-300: var(--blue-700);
  --utility-blue-400: var(--blue-600);
  --utility-blue-500: var(--blue-500);
  --utility-blue-600: var(--blue-400);
  --utility-blue-700: var(--blue-300);

  /*!----Dark Mode Utility Blue Light Colors----*/
  --utility-blue-light-50: var(--blue-light-950);
  --utility-blue-light-100: var(--blue-light-900);
  --utility-blue-light-200: var(--blue-light-800);
  --utility-blue-light-300: var(--blue-light-700);
  --utility-blue-light-400: var(--blue-light-600);
  --utility-blue-light-500: var(--blue-light-500);
  --utility-blue-light-600: var(--blue-light-400);
  --utility-blue-light-700: var(--blue-light-300);

  /*!----Dark Mode Utility Blue Dark Colors----*/
  --utility-blue-dark-50: var(--blue-dark-950);
  --utility-blue-dark-100: var(--blue-dark-900);
  --utility-blue-dark-200: var(--blue-dark-800);
  --utility-blue-dark-300: var(--blue-dark-700);
  --utility-blue-dark-400: var(--blue-dark-600);
  --utility-blue-dark-500: var(--blue-dark-500);
  --utility-blue-dark-600: var(--blue-dark-400);
  --utility-blue-dark-700: var(--blue-dark-300);
}
