:root {
  /*!----Light Mode Utility Fuchsia Colors----*/
  --utility-fuchsia-50: var(--fuchsia-50);
  --utility-fuchsia-100: var(--fuchsia-100);
  --utility-fuchsia-200: var(--fuchsia-200);
  --utility-fuchsia-300: var(--fuchsia-300);
  --utility-fuchsia-400: var(--fuchsia-400);
  --utility-fuchsia-500: var(--fuchsia-500);
  --utility-fuchsia-600: var(--fuchsia-600);
  --utility-fuchsia-700: var(--fuchsia-700);

  /*!----Light Mode Utility Pink Colors----*/
  --utility-pink-50: var(--pink-50);
  --utility-pink-100: var(--pink-100);
  --utility-pink-200: var(--pink-200);
  --utility-pink-300: var(--pink-300);
  --utility-pink-400: var(--pink-400);
  --utility-pink-500: var(--pink-500);
  --utility-pink-600: var(--pink-600);
  --utility-pink-700: var(--pink-700);

  /*!----Light Mode Utility Indigo Colors----*/
  --utility-indigo-300: var(--indigo-300);
  --utility-indigo-400: var(--indigo-400);
  --utility-indigo-500: var(--indigo-500);
  --utility-indigo-600: var(--indigo-600);
  --utility-indigo-700: var(--indigo-700);

  /*!----Light Mode Utility Purple Colors----*/
  --utility-purple-50: var(--purple-50);
  --utility-purple-100: var(--purple-100);
  --utility-purple-200: var(--purple-200);
  --utility-purple-300: var(--purple-300);
  --utility-purple-400: var(--purple-400);
  --utility-purple-500: var(--purple-500);
  --utility-purple-600: var(--purple-600);
  --utility-purple-700: var(--purple-700);
}

.dark {
  /*!----Dark Mode Utility Fuchsia Colors----*/
  --utility-fuchsia-50: var(--fuchsia-950);
  --utility-fuchsia-100: var(--fuchsia-900);
  --utility-fuchsia-200: var(--fuchsia-800);
  --utility-fuchsia-300: var(--fuchsia-700);
  --utility-fuchsia-400: var(--fuchsia-600);
  --utility-fuchsia-500: var(--fuchsia-500);
  --utility-fuchsia-600: var(--fuchsia-400);
  --utility-fuchsia-700: var(--fuchsia-300);

  /*!----Dark Mode Utility Pink Colors----*/
  --utility-pink-50: var(--pink-950);
  --utility-pink-100: var(--pink-900);
  --utility-pink-200: var(--pink-800);
  --utility-pink-300: var(--pink-700);
  --utility-pink-400: var(--pink-600);
  --utility-pink-500: var(--pink-500);
  --utility-pink-600: var(--pink-400);
  --utility-pink-700: var(--pink-300);

  /*!----Dark Mode Utility Indigo Colors----*/
  --utility-indigo-300: var(--indigo-700);
  --utility-indigo-400: var(--indigo-600);
  --utility-indigo-500: var(--indigo-500);
  --utility-indigo-600: var(--indigo-400);
  --utility-indigo-700: var(--indigo-300);

  /*!----Dark Mode Utility Purple Colors----*/
  --utility-purple-50: var(--purple-950);
  --utility-purple-100: var(--purple-900);
  --utility-purple-200: var(--purple-800);
  --utility-purple-300: var(--purple-700);
  --utility-purple-400: var(--purple-600);
  --utility-purple-500: var(--purple-500);
  --utility-purple-600: var(--purple-400);
  --utility-purple-700: var(--purple-300);
}
