:root {
  /*!----Font Size Variables----*/
  --text-display-2xl: 72px; /* 3.75rem */
  --text-display-xl: 60px; /* 3rem */
  --text-display-lg: 38px; /* 2.25rem */
  --text-display-md: 36px; /* 1.875rem */
  --text-display-sm: 30px; /* 1.5rem */
  --text-display-xs: 24px; /* 1.25rem */
  --text-xl: 24px; /* 1.125rem */
  --text-lg: 18px; /* 1rem */
  --text-md: 16px; /* 0.875rem */
  --text-sm: 14px; /* 0.75rem */
  --text-xs: 12px; /* 0.625rem */
}

:root {
  --thin: 100;
  --extra-light: 200;
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;
  --black: 900;
}
