:root {
  /*!----Width Variables----*/
  --width-xxs: 20rem; /* 320px */
  --width-xs: 24rem; /* 384px */
  --width-sm: 30rem; /* 480px */
  --width-md: 35rem; /* 560px */
  --width-lg: 40rem; /* 640px */
  --width-xl: 48rem; /* 768px */
  --width-2xl: 64rem; /* 1024px */
  --width-3xl: 80rem; /* 1280px */
  --width-4xl: 90rem; /* 1440px */
  --width-5xl: 100rem; /* 1600px */
  --width-6xl: 120rem; /* 1920px */
}
